<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        Telegram.WebApp.ready();

        function authWithTelegram() {
            const initData = Telegram.WebApp.initData;
            console.log("initData:", initData);  // Отладочный вывод

            fetch('/login_telegram', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `initData=${initData}`,    
            })
            .then(response => response.text())
            .then(data => {
                if (data.includes("Добро пожаловать")) {
                    window.location.href = '/welcome';
                } else {
                    Telegram.WebApp.showAlert(data);
                }
            });
        }

        function loginWithCredentials() {
            const login = document.getElementById('login').value;
            const password = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `login=${login}&password=${password}`,
            })
            .then(response => response.text())
            .then(data => {
                if (data.includes("Добро пожаловать")) {
                    window.location.href = '/welcome';
                } else {
                    alert(data);
                }
            });
        }
    </script>
</head>
<body>
    <h1>Авторизация</h1>
    <form onsubmit="event.preventDefault(); loginWithCredentials();">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="/register_page">Зарегистрируйтесь здесь</a></p>
    <button onclick="authWithTelegram()">Авторизоваться через Telegram</button>
</body>
</html>
