<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        Telegram.WebApp.ready();

        function authWithTelegram() {
            const initData = Telegram.WebApp.initData;

            fetch('/login_telegram', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `initData=${initData}`,
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;  // Перенаправляем на страницу профиля
                } else {
                    return response.text();
                }
            })
            .then(data => {
                if (data) {
                    Telegram.WebApp.showAlert(data);  // Показываем ошибку, если есть
                }
            });
        }
    </script>
</head>
<body>
    <h1>Авторизация</h1>
    <button onclick="authWithTelegram()">Авторизоваться через Telegram</button>
</body>
</html>
