<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form action="/register" method="POST">
            <input type="text" id="login" name="login" placeholder="Логин" required><br><br>
            <input type="password" id="password" name="password" placeholder="Пароль" required><br><br>
            <div class="role-selection">
                <label>
                    <input type="radio" name="role" value="student" checked onclick="toggleClassAndDirection(true)">
                    Я ученик
                </label>
                <label>
                    <input type="radio" name="role" value="teacher" onclick="toggleClassAndDirection(false)">
                    Я преподаватель
                </label>
            </div>
            <div id="class-direction-selection">
                <select id="class" name="class" required>
                    <option value="" disabled selected>Выберите класс</option>
                    <option value="7">7 класс</option>
                    <option value="8">8 класс</option>
                    <option value="9">9 класс</option>
                    <option value="10">10 класс</option>
                    <option value="11">11 класс</option>
                </select><br><br>
                <select id="direction" name="direction" required>
                    <option value="" disabled selected>Выберите направление</option>
                    <option value="it">IT</option>
                    <option value="bio">Био</option>
                    <option value="math">Мат</option>
                    <option value="eng">Инж</option>
                    <option value="hum">Гум</option>
                </select><br><br>
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="/">Войдите здесь</a></p>
    </div>
    <script>
        function toggleClassAndDirection(show) {
            const classDirectionSelection = document.getElementById('class-direction-selection');
            if (show) {
                classDirectionSelection.style.display = 'block';
                document.getElementById('class').setAttribute('required', true);
                document.getElementById('direction').setAttribute('required', true);
            } else {
                classDirectionSelection.style.display = 'none';
                document.getElementById('class').removeAttribute('required');
                document.getElementById('direction').removeAttribute('required');
            }
        }
    </script>
</body>
</html>
