<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация успешна</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Регистрация успешна!</h1>
        <p>Теперь вы можете войти в систему.</p>
        <button onclick="window.location.href='/'">Вернуться на страницу входа</button>
    </div>
</body>
</html>
